@font-face {
  font-family: "myFont";
  src: url("/GenSekiGothic-B.ttc");
}

* {
  font-family: "myFont", DFkai-sb, sans-serif;
}
body {
  /* 設定最小寬度為 600px */
  min-width: 350px;
  background-image: url("/backimg.jpg");

  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh; /* 設置body高度為100%視窗高度 */
}

//index.ejs
.homeTitle {
  width: 100vw;
  height: 250px;
  color: #ffffff;
  h1,
  p {
    margin: 2rem 2rem;
  }
  p {
    text-align: center;
    font-size: 18px;
  }
  div.homeBtn {
    display: flex;
    justify-content: center;
    a {
      color: black;
      text-decoration: none;
      padding: 8px 8px;
      background-color: rgba(226, 226, 226, 0.795);
      transition: all 0.1s ease-in;
      border-radius: 10px;
    }
    a:hover {
      background-color: rgb(51, 126, 113);
      color: #ffffff;
    }
    a:active {
      scale: 0.95;
    }
  }
}

.explain {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 400px;
  background-color: #ffffff4b;

  font-size: 18px;
  color: rgb(0, 0, 0);
  text-align: center;
  justify-content: center;
}
.slideshow-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
  background-color: rgba(95, 92, 88, 0.493);
  height: 400px;
  div.mySlides {
    display: none;
    text-align: center; /* 水平居中 */
    color: white;
    h5 {
      font-size: 30px;
      margin-bottom: 3rem;
    }
    p {
      font-size: 24px;
    }
  }
}
.dot-container {
  text-align: center;
  .dot {
    display: inline-block; /* 将子元素垂直排列 */
    height: 20px;
    width: 20px;
    margin: 20px 15px;
    background-color: rgba(226, 226, 226, 0.795);
    border-radius: 50%;

    cursor: pointer;
    transition: all 0.2s ease-in;
  }
  .dot:active {
    transform: scale(1.2);
    border: 2px solid rgba(255, 255, 255, 0.712);
  }
  .dot:hover {
    background-color: rgb(79, 172, 156);
  }
}

//profile
section.user-info {
  margin-left: 3rem;
  margin-top: 2rem;
  color: aliceblue;
}
section.posts {
  display: flex;
  flex-wrap: wrap;
  /* 其他樣式設定 */
  div.car {
    width: 18rem;
    padding: 2rem;
    margin: 1rem;
    border-radius: 20px;
    background-color: rgba(148, 148, 148, 0.452);
    transition: all 0.5s ease;

    div.card-body {
      // background: linear-gradient(90deg, #c7c7c7a6, #4f515398);
      h5.cardt {
        font-weight: bold;
        color: rgb(255, 255, 255);
      }
      hr {
        color: rgb(255, 255, 255);
        border-style: solid;
        border-color: rgb(255, 255, 255);
        border-width: 2px;
      }
      p {
        color: rgba(255, 255, 255, 0.699);
        font-weight: bold;
        transition: all 0.3s ease;
      }
      div.proTime {
        background-color: rgba(95, 95, 92, 0.11);
        border-radius: 20px;
        padding: 6px;
        border: 3px solid rgba(250, 250, 250, 0.171);
        transition: all 0.3s ease;
        a {
          color: rgba(238, 238, 238, 0.658);
          text-decoration: none;
          transition: all 0.3s ease;
          font-size: 14px;
        }
        a:hover {
          color: rgb(255, 255, 255);
          text-decoration: none;
        }
      }
    }
    &:hover {
      background-color: rgba(63, 63, 63, 0.671);

      & > div.card-body > div.proTime {
        color: rgb(255, 255, 255);
        background-color: rgba(95, 95, 92, 0.678);
      }

      & > div.card-body > p {
        color: rgb(255, 255, 255);
      }
    }
  }
  div.delete {
    width: 30px;
    height: 30px;
    padding: 2px;
    border-radius: 50%;
    background-color: rgba(221, 221, 221, 0.452);
    img {
      opacity: 0.2;
      transition: all 0.3s ease-in-out;
      &:hover {
        opacity: 1;
      }
      &:active {
        transform: scale(1.2);
      }
    }
  }
}
@media screen and (max-width: 595px) {
  div.homeTitle {
    p {
      margin: 1rem 2rem;
    }
  }
}
@media screen and (max-width: 703px) {
  section.posts {
    display: block;
    margin-left: 3rem; /* 让 section 元素居中 */
    /* 其他样式设置 */
  }
}
@media screen and (max-width: 1170px) {
  body {
    /* 設定最小寬度為 600px */
    min-width: 350px;
    background-image: url("/backimg.jpg");

    background-size: cover;
    background-repeat: repeat;
    background-position: center;
    height: 120vh; /* 設置body高度為100%視窗高度 */
  }
}
