<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include ("partials/header") %>
    <title>首頁</title>
    <link rel="stylesheet" href="../public/style.css" />
  </head>
  <body>
    <%- include ("partials/nav") %>
    <div class="p-5 mb-4 bg-light rounded-3">
      <div class="container-fluid py-5">
        <h1>個人文案紀錄系統</h1>
        <p class="col-md-8 fs-4">
          支援Google登入與本地登入系統，EJS、MongoDB、Passport.js、Authentication、OAuth(Google
          Login Setup) 和其他範例。
        </p>
        <button
          class="btn btn-info btn-lg"
          type="button"
          style="color: rgb(0, 0, 0)"
        >
          學習如何製作網站！
        </button>
      </div>
    </div>
    <div class="p-5 mb-4 container-fluid py-5">
      <p>
        使用Google帳號或直接註冊帳號，登入後可以寫下隨筆，系統將會記錄你的儲存時間!
      </p>
    </div>
  </body>
</html>
