<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include ("partials/header") %>
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
    <link rel="icon" href="/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="/style/style.css" />

    <title>首頁</title>
  </head>
  <body>
    <%- include ("partials/nav") %>

    <div class="homeTitle">
      <h1>個人詩詞記載</h1>
      <p>
        支援Google登入與本地登入系統，EJS、MongoDB、Passport.js、<br />Authentication、OAuth(Google
        Login Setup) 和其它範例。
      </p>
      <% if (!user) { %>
      <div class="homeBtn">
        <a href="/auth/login"> 寫下我的詩</a>
      </div>
      <% } %>
    </div>

    <div class="explain">
      <p>
        歡迎來到這個網頁！<br />這是一個詩歌紀錄網站，<br />
        您能使用Google帳號或本地帳號進行登入，<br />登入後可以點擊「寫一首詩」寫下隨筆，<br />系統將記錄你寫下的內容<br />(在你自己的個人檔案與資料庫中)，<br />祝您享受這個網站！
      </p>
    </div>
    <div class="slideshow-container">
      <div class="mySlides">
        <h5>使用工具</h5>
        <p>Node.js, Express.js, EJS,</p>
        <p>Restful API, mongoose</p>
      </div>
      <div class="mySlides">
        <h5>使用套件</h5>
        <p>Passport(passport-local, oauth20),</p>
        <p>bcrypt, dotenv, flash</p>
      </div>
      <div class="mySlides">
        <h5>前端設計</h5>
        <p>SCSS, JavaScript,</p>
        <p>BootStrap, RWD, Figma</p>
      </div>
    </div>
    <div class="dot-container">
      <span class="dot" data-slide-index="1" onclick="showSlides(1)"></span>
      <span class="dot" data-slide-index="2" onclick="showSlides(2)"></span>
      <span class="dot" data-slide-index="3" onclick="showSlides(3)"></span>
    </div>
    <script>
      let slideIndex = 1;
      let slideTimeout = null;

      function showSlides(slideNumber) {
        clearTimeout(slideTimeout);
        let i;
        let slides = document.getElementsByClassName("mySlides");
        let dots = document.getElementsByClassName("dot");
        if (slideNumber) {
          slideIndex = slideNumber;
        }
        if (slideIndex > slides.length) {
          slideIndex = 1;
        }
        if (slideIndex < 1) {
          slideIndex = slides.length;
        }
        for (i = 0; i < slides.length; i++) {
          slides[i].style.display = "none";
        }

        for (i = 0; i < dots.length; i++) {
          dots[i].className = dots[i].className.replace(" active", "");
        }
        slides[slideIndex - 1].style.display = "block";
        dots[slideIndex - 1].className += " active";
        slideTimeout = setTimeout(() => showSlides(), 2000, slideIndex + 1); // 傳遞 slideIndex + 1 作為參數
      }

      showSlides();
    </script>
  </body>
</html>
