<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include ("partials/header") %>
    <link rel="stylesheet" href="/style/style.css" />
    <title>首頁</title>
  </head>
  <body>
    <%- include ("partials/nav") %>
    <div class="p-5 mb-4 bg-light rounded-3">
      <div class="container-fluid py-5">
        <h1>個人文案紀錄系統</h1>
        <p class="col-md-8 fs-4">
          支援Google登入與本地登入系統，EJS、MongoDB、Passport.js、Authentication、OAuth(Google
          Login Setup) 和其他範例。
        </p>
        <button
          class="btn btn-info btn-lg"
          type="button"
          style="color: rgb(0, 0, 0)"
        >
          <a href="/auth/login"> 寫下我的詩</a>
        </button>
      </div>
    </div>
    <div class="p-5 mb-4 container-fluid py-5">
      <p>
        使用Google帳號或直接註冊帳號，登入後可以寫下隨筆，系統將會記錄你的儲存時間!
      </p>
    </div>
    <div class="slideshow-container">
      <div class="mySlides">
        <h5>使用工具</h5>
        <p>Node.js, Express.js, EJS,Restful API</p>
      </div>
      <div class="mySlides">
        <h5>使用套件</h5>
        <p>Oauth2.0,passport,bcrypt</p>
      </div>
      <div class="mySlides">
        <p>我好慘</p>
      </div>
    </div>
    <div class="dot-container">
      <span class="dot"></span>
      <span class="dot"></span>
      <span class="dot"></span>
    </div>
    <script>
      let slideIndex = 0;

      function showSlides() {
        let i;
        let slides = document.getElementsByClassName("mySlides");
        for (i = 0; i < slides.length; i++) {
          slides[i].style.display = "none";
        }
        slideIndex++;
        if (slideIndex > slides.length) {
          slideIndex = 1;
        }
        slides[slideIndex - 1].style.display = "block";
        setTimeout(showSlides, 5000); // 更改时间间隔
      }
      showSlides();
    </script>
  </body>
</html>
