<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include ("partials/header") %>
    <link rel="stylesheet" href="../style/style.css" />
    <title>Post</title>
  </head>
  <body>
    <%- include ("partials/nav") %>
    <div class="logreg-box">
      <div class="form-box login">
        <form action="/profile/post" method="POST">
          <%- include ("partials/message") %>
          <div class="input-box">
            <input name="title" type="text" id="exampleforTitle" required />
            <label for="exampleforTitle">標題</label>
          </div>
          <br />
          <div class="input-box">
            <textarea
              id="exampleforContent"
              aria-describedby="emailHelp"
              name="content"
              required
              oninput="autoResize(this)"
            ></textarea>
            <label for="exampleforContent">內容</label>
          </div>
          <br />
          <button class="input-box loginBtn">儲存</button>
        </form>
      </div>
    </div>
  </body>
  <script>
    function autoResize(textarea) {
      const value = textarea.value.trim();
      if (value === "") {
        textarea.style.height = "auto";
        const inputBox = textarea.parentNode;
        inputBox.style.height = "50px";
      } else {
        textarea.style.height = "auto";
        textarea.style.height = textarea.scrollHeight + 20 + "px";
        const inputBox = textarea.parentNode;
        inputBox.style.height = textarea.style.height;
      }
    }
  </script>
</html>
